@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

//Colors

$blue: #17202A;
$white: #FFFFFF;
$green: #098171;
$whiteGreen: #F8F7EE;
$brown: #333333;
$orange: #FF9306;

// fonts
$nunito: 'Nunito', sans-serif;

// Breakpoint
$desktop: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $nunito;
    font-weight: 300;
    color: $white;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    row-gap: 40px;
    width: 100%;
    height: 100%;

    .label-start {
        grid-row: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $green;

        h1 {
            font-size: 1.5rem;
            font-family: $nunito;
            font-weight: 400px;
        }

        i {
            font-size: 3rem;
            margin-bottom: 20px;
        }
    }

    .formulario {
        width: 100%;
        height: 100%;
        grid-row: 2;

        .title {
            display: none;
        }

        .form-group {
            width: 90%;
            margin: auto;
            margin-bottom: 20px;

            input {
                width: 100%;
                height: 50px;
                padding: 20px;
                border-radius: 10px;
                background-color: $whiteGreen;
                border: none;
                outline: none;
                font-family: $nunito;
                font-weight: 300;

                &:active {
                    border: 2px solid $green;
                }
                
                &:focus {
                    border: 2px solid $green;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #D1C5DE;
                }
            }
        }

        .m-auto {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            width: 140px;
            height: 40px;
            background-color: $green;
            border: none;
            color: $white;
            border-radius: 20px;
            font-family: $nunito;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                background-color: #056659;
            }

            &:active {
                background-color: #056659;
            }
        }
    }
}